workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=every morning, gather new updates on ai trends, Format it like a mini email newsletter in Markdown. \nToday's Date {{ $json.timestamp }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "7172048a-9a49-4b60-a417-b4d2df1b9dfb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        272
      ],
      "id": "a5cede1b-36b2-47e8-8f2e-eb9173e0b5ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TERjpw3eP7bcypSV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test_agent_ID"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        272
      ],
      "id": "20ee3be4-3786-4d87-b078-960de8a9cb46",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        304,
        272
      ],
      "id": "ed96946f-1cbf-472f-ac07-efb2d12080c6",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        432,
        272
      ],
      "id": "7021a87c-d273-48bd-a4ad-5e3b3af5925a",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "ltEY3EwExDsDUMmK",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "id": "1368ce72-101c-41f7-9ebf-64f4cc1f02e7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "mohammed.alez@yahoo.com",
        "subject": "Today's News for you, ",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "ed8fbeb9-eea1-41d4-a679-c6b6237f901e",
      "name": "Send a message",
      "webhookId": "d4090c25-b562-4e86-a8f2-a5fd2cd588e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "R19ubTTIqvYvG4JW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "df1d1044-1011-48fb-af3e-f312ba681372",
      "name": "Markdown"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "Beautify the HTML below using inline CSS styling for an email, format it like a modern newsletter, Output only the results without any header elements ",
              "role": "model"
            },
            {
              "content": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "37a780d8-1f95-4836-937f-dde168697806",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "TERjpw3eP7bcypSV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "014e5ee9-4f72-4a09-aa74-33e677f070af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ec477b0da0e025e8fcecf8374763d3d206522548c92e7a8515afcacd5aabbc0"
  },
  "id": "XTSlhmUfibRW7hIF",
  "tags": []
}